<section class="about-section">
    <div class="about-container">
        <div class="about-header">
            <h2 class="about-title">¿Qué es Atelier?</h2>
            <p class="about-description">
                Atelier es una plataforma (web y móvil) que digitaliza talleres automotrices independientes, 
                integrando un sistema de gestión administrativa (ERP) con diagnóstico vehicular predictivo mediante hardware (OBD2). 
                Su objetivo es automatizar procesos, anticipar fallas vehiculares y conectar directamente al mecánico con el conductor.
            </p>
        </div>
        <div class="about-image-container">
            <img src="/assets/images/atalier-chip.jpg" alt="Atelier Chip" class="about-image">
        </div>
    </div>
</section>
