---
import EndCallToAction from './react/EndCallToAction'
---

<section class="reveal w-full overflow-hidden">
    <EndCallToAction 
        client:visible 
        title="Actualiza tu taller ahora." 
        subtitle="Rápido de implementar. Fácil de cambiar. Diseñado para escalar." 
        buttonText="Mejorar tu taller" 
    />
</section>