<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">Transformar tu <br class="break"><span class="hero-title-highlight">Taller</span></h1>
    <p class="hero-subtitle">La única plataforma en Perú que integra diagnósticos con IA <br>y módulos de negocio para maximizar la rentabilidad de tu taller.</p>
    <button class="btn btn-solid hero-btn" aria-label="Únete al cambio" type="button">Únete al cambio</button>
  </div>
  <div class ="btn-container">
    <button class="btn btn-outline" aria-label="Acceder" type="button">Acceder</button>
    <button class="btn btn-solid" aria-label="Unirse" type="button">Unirse</button>
  </div>
  <div class="hero-overlay"></div>
</section>
